<h1>Tri-State</h1>

<button {{action 'flushAndRefreshModel'}}>Flush and Reload Data</button>
<button {{action 'refreshModel'}}>Reload Data</button>

{{#tri-state
  promises=(hash
    user=model.userRequest
    events=model.eventsRequest
  )
  showLastSuccessful=showLastSuccessful
  forceResolveAll=true
  onFulfilledData=(action 'resetShowLastSuccessful')
  as |tri|
}}
  {{#tri.loading}}
    <h1>Loading Component</h1>
    <p>Please wait...</p>
  {{/tri.loading}}

  {{#tri.error as |error|}}
    <h1>Error Component</h1>
    <p>{{error.name}}</p>
  {{/tri.error}}

  {{#tri.success as |data|}}
    {{#tri-success user=data.user events=data.events as |user events|}}
      {{if tri.isLoading 'Updating...'}}
      <p>User: {{user.name}} | Last updated: {{user.time}}</p>
      <p>Events</p>
      <ul>
        {{#each events as |event|}}
          <li>Name: {{event.name}} | Location: {{event.location}}</li>
        {{/each}}
      </ul>
    {{/tri-success}}
  {{/tri.success}}
{{/tri-state}}


{{#tri-state
  promises=model.postRequest
  showLastSuccessful=showLastSuccessful
  onFulfilledData=(action 'resetShowLastSuccessful')
  loadingComponent='tri-loading'
  errorComponent='tri-error'
  as |tri|
}}
  {{tri.loading}}
  {{tri.error}}
  {{#tri.success as |data|}}
    <h1>Success Component</h1>
    <p>Post: {{data.title}}</p>
  {{/tri.success}}
{{/tri-state}}
