{{#tri-state
  dataActions=(hash
    user=(route-action 'getUser')
    events=(route-action 'getEvents')
  )
  failFast=true
  showLastSuccessful=true
  as |template data actions state|
}}
  {{#template.isLoading}}
    {{#tri-loading}}
      Please wait...
    {{/tri-loading}}
  {{/template.isLoading}}

  {{#template.isSuccess}}
    {{#tri-success user=data.user events=data.events as |user events|}}
      {{if state.isLoading 'Updating...'}}
      <p>User: {{user.name}} | Last updated: {{user.time}}</p>
      <p>Events</p>
      <ul>
        {{#each events as |event|}}
          <li>Name: {{event.name}} | Location: {{event.location}}</li>
        {{/each}}
      </ul>
    {{/tri-success}}
  {{/template.isSuccess}}

  {{#template.isError}}
    {{#tri-error}}
      {{data.error}}
    {{/tri-error}}
  {{/template.isError}}

  <button onclick={{action actions.reload}}>Reload Data</button>
  <button onclick={{action actions.clear}}>Clear Data</button>
{{/tri-state}}
