<h1>Tri-State</h1>

{{data-controls model=model}}

{{#tri-state
  dataActions=(hash
    user=(action model.getUser)
    events=(action model.getEvents)
  )
  failFast=true
  showLastSuccessful=true
  listenForEvents=true
  as |tri actions|
}}
  {{#tri.loading.component}}
    {{#tri-loading}}
      Please wait...
    {{/tri-loading}}
  {{/tri.loading.component}}

  {{#tri.error.component}}
    {{#tri-error}}
      {{tri.error.data.error}}
    {{/tri-error}}
  {{/tri.error.component}}

  {{#tri.success.component}}
    {{#tri-success user=tri.success.data.user events=tri.success.data.events as |user events|}}
      {{if tri.loading.isActive 'Updating...'}}
      <p>User: {{user.name}} | Last updated: {{user.time}}</p>
      <p>Events</p>
      <ul>
        {{#each events as |event|}}
          <li>Name: {{event.name}} | Location: {{event.location}}</li>
        {{/each}}
      </ul>
      <button onclick={{action actions.reload}}>Reload Data</button>
      <button onclick={{action actions.flush}}>Flush Data</button>
      <button onclick={{action actions.fetch (hash
        user=(action model.getUser 'Arnold')
        events=(action model.getEvents)
      )}}>
        Fetch Different Data
      </button>
    {{/tri-success}}
  {{/tri.success.component}}
{{/tri-state}}
