<h1>Tri-State</h1>

<button {{action 'flushAndRefreshModel'}}>Flush and Reload Data</button>
<button {{action 'refreshModel'}}>Reload Data</button>

{{#tri-state
  promises=(hash
    user=model.userRequest
    events=model.eventsRequest
  )
  showLastSuccessful=showLastSuccessful
  onResolvedData=(action 'resetShowLastSuccessful')
  as |tri|
}}
  {{#tri.loading.component}}
    {{#tri-loading}}
      Please wait...
    {{/tri-loading}}
  {{/tri.loading.component}}

  {{#tri.error.component as |error|}}
    {{#tri-error}}
      {{error}}
    {{/tri-error}}
  {{/tri.error.component}}

  {{#tri.success.component as |data|}}
    {{#tri-success user=data.user events=data.events as |user events|}}
      {{if tri.loading.isActive 'Updating...'}}
      <p>User: {{user.name}} | Last updated: {{user.time}}</p>
      <p>Events</p>
      <ul>
        {{#each events as |event|}}
          <li>Name: {{event.name}} | Location: {{event.location}}</li>
        {{/each}}
      </ul>
    {{/tri-success}}
  {{/tri.success.component}}
{{/tri-state}}
